<p id="notice"><%= notice %></p>

    <!--Full calendar-->
    <link rel='stylesheet' href='/fullcalendar/fullcalendar.css' />
    <script src='/fullcalendar/lib/jquery.min.js'></script>
    <script src='/fullcalendar/lib/moment.min.js'></script>
    <script src='/fullcalendar/fullcalendar.js'></script>
    <script src='/fullcalendar/lib/jquery-ui.min.js'></script>

    <script src="/JS/Reservations/index.js"></script>

<style>
body {
  margin: 0;
  padding: 0;
  font-family: "Lucida Grande",Helvetica,Arial,Verdana,sans-serif;
  font-size: 14px;
}
#calendar {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 10px;
}


</style>



<div id='calendar'></div>


