<div class="container" style="margin-top:5em; margin-bottom:4em;">
     <h1 style="margin-bottom:2em; text-align: center">Mis Reservas</h1>

    <div class="row">
    <div class="col-lg-3 col-xs-12">
        <div class="list-group">
        <a href="#" class="list-group-item active">
            <h3 class="list-group-item-heading">LA BOMBOMERA</h3>
            <p class="list-group-item-text">Reservado para el dia 03/23/2018 a las 3:00 pm</p>
            <br />
            <button class="btn btn-danger">Cancelar</button>
        </a>
        </div>
     </div>

    

    
    <div class="col-lg-3 col-xs-12">
        <div class="list-group">
        <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">TIRO DE ESQUINA</h3>
            <p class="list-group-item-text">Reservado para el dia 03/30/2018 a las 7:00 pm</p>
            <br />
            <button class="btn btn-danger">Cancelar</button>
        </a>
        </div>
     </div>

    


    
    <div class="col-lg-3 col-xs-12">
        <div class="list-group">
        <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">CANCHAS LA 66</h3>
            <p class="list-group-item-text">Reservado para el dia 03/30/2018 a las 7:00 pm</p>
            <br />
            <button class="btn btn-danger">Cancelar</button>
        </a>
        </div>
     </div>


         
    <div class="col-lg-3 col-xs-12">
        <div class="list-group">
        <a href="#" class="list-group-item">
            <h3 class="list-group-item-heading">CANCHAS LA 66</h3>
            <p class="list-group-item-text">Reservado para el dia 03/30/2018 a las 7:00 pm</p>
            <br />
            <button class="btn btn-danger">Cancelar</button>
        </a>
        </div>
     </div>

    </div>


</div>