<div class="container" style="margin-top:5em; margin-bottom:4em;">
     <h1 style="margin-bottom:2em; text-align: center">Mis Reservas</h1>

    <div class="row">

    <% @reservationsOfUser.each do |reservation| %>
    <div class="col-lg-3 col-xs-12">
        <div class="list-group">
        <div  class="list-group-item ">
            <h3 class="list-group-item-heading"><%= reservation.name%></h3>
            <p class="list-group-item-text">Reservado para el dia <%= reservation.dateOfReservation%> a las <%= reservation.timeOfReservation%></p>
            <br />            
            <a href="/reservations/getreservations/cancelReservation?id=<%= reservation.id%>" class="btn btn-danger" role="button">cancel</a>            
        </div>
        </div>
     </div>
    <% end %>
    


    </div>


</div>